@import "./variables.scss";
$card-width: 320px;
$user-pic-width: 180px;

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @media (min-width: 500px) {
    padding: 2rem 5rem;
  }

  @media (max-width: 500px) {
    padding: 2rem 1rem;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title {
    font-weight: 500;

    @media (min-width: 700px) {
      font-size: 3.5rem;
    }

    @media (max-width: 700px) {
      font-size: 2.5rem;
    }
  }
}

.subtitle {
  font-style: italic;
  font-size: 1rem;
  padding: 0 1rem;
  text-align: center;

  .highlight {
    color: $primary1;
    font-weight: 600;
  }
}

.servicesContainer {
  width: 100%;
  margin-top: 2rem;
  justify-content: center;

  button {
    background-color: white;
    border-radius: 3rem;
    padding: 0.5rem;
    margin: 0.5rem;
  }

  .service {
    margin: 0 0.5rem;
    flex-direction: column;
    border-radius: 1rem;
    height: auto;
    overflow: hidden;

    .image {
      border-radius: 1rem 1rem 0 0;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      width: 100%;
      height: $card-width;
    }

    .overDiv {
      position: relative;
      top: calc($card-width * -1);
      left: -0.5rem;
      margin-bottom: -320px;
      background: linear-gradient(
        180deg,
        rgba($card-background-color, 0.2) 0%,
        rgba($card-background-color, 0.9) 70%,
        rgba($card-background-color, 1) 100%
      );
      width: calc(100% + 1rem);
      height: calc($card-width + 2px);
      align-items: end;
      display: flex;
      justify-content: center;

      .title {
        font-weight: 700;
        font-style: italic;
        font-size: 1.5rem;
        margin: 0 1rem;
      }
    }

    .text {
      padding: 1rem;
      max-height: 240px;
      width: 100%;
      background-color: $card-background-color;
    }
  }
}

.clientsLogos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255);
  border-radius: 2rem;
  margin: 0 0.5rem;
  overflow: hidden;
  padding: 0.5rem 1rem;

  .clientsRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    img.first {
      width: 30%;
    }
  }
}

.quotes {
  width: 100%;
  @media (min-width: 700px) {
    padding: 0 3rem;
  }

  @media (max-width: 700px) {
    width: 100%;
  }
  margin-top: 2rem;
  justify-content: center;

  button {
    background-color: white;
    border-radius: 3rem;
    padding: 0.5rem;
    margin: 0.5rem;
  }

  .quoteBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;

    .quote {
      display: flex;
      flex-direction: row;
      align-items: start;

      .texto {
        font-family: "Bitter", serif;
        font-size: 1.2rem;
      }
    }

    .empresa {
      margin-top: 1rem;
      align-self: end;
    }
  }
}

.teamContainer {
  display: grid;
  margin: 5rem 0;

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    padding: 0 6rem;
  }

  @media (min-width: 700px) and (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 0 2rem;
  }

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 0 1rem;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .person {
    display: flex;

    text-align: center;
    align-items: center;
    gap: 0.5rem;

    @media (min-width: 500px) and (max-width: 700px) {
      flex-direction: row;
    }

    @media (max-width: 500px) or (min-width: 700px) {
      flex-direction: column;
    }

    .mainInfo {
      display: flex;
      flex-direction: row;
      align-items: center;

      .name {
        font-size: 1.5rem;
        font-weight: 600;
      }

      .personSubtitle {
        font-size: 0.8rem;
        font-weight: 300;
        letter-spacing: 0.1rem;
      }
    }

    img {
      @media (min-width: 1200px) {
        width: 180px;
      }

      @media (max-width: 1200px) {
        width: 100px;
      }

      border-radius: $user-pic-width;
    }

    .description {
      font-size: 1rem;
      font-weight: 400;
      margin-top: 1rem;

      @media (min-width: 500px) and (max-width: 700px) {
        text-align: left;
      }

      @media (min-width: 900px) {
        width: 100%;
      }

      @media (max-width: 900px) {
        width: calc(100% - 2rem);
        padding: 0 1rem;
      }
    }
  }
}

.contactContainer {
  display: grid;
  background-color: $card-background-color;

  @media (min-width: 900px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }

  .contactSection {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    width: 100%;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    // background-color: $primary3;

    .header {
      display: flex;
      flex-direction: column;

      svg {
        font-size: 2rem;
      }

      .title {
        font-size: 3rem;
        border-bottom: 2px solid $primary1;
      }
    }

    .contactLinks {
      display: grid;
      justify-content: center;
      gap: 0.6rem;

      .contactItem {
        display: flex;
        flex-direction: row;
        gap: 0.6rem;
        align-items: center;
        width: 100%;
        cursor: pointer;

        .chip {
          background-color: $primary1;
          color: white;
          border-radius: 5rem;
          padding: 0.3rem 0.5rem;
          align-items: center;
        }

        button {
          padding: 0;
        }

        svg,
        .label {
          margin-right: 1rem;

          @media (min-width: 500px) {
            font-size: 1.2rem;
          }

          @media (max-width: 500px) {
            font-size: 1rem;
          }
        }

        a {
          text-decoration: none;
          color: white;
        }
      }

      @media (min-width: 1600px) {
        grid-template-columns: 1fr 1fr;
      }

      @media (max-width: 1600px) {
        grid-template-columns: 1fr;
      }
    }

    .item {
      display: flex;
      align-items: center;
      gap: 0.2rem;
      margin-top: 1rem;

      svg {
        font-size: 1.2rem;
      }
    }
  }
}
