:root {
  --primary1: #15a8b3;
  --primary2: #27b093;
  --primary3: #03485d;
  --background-color: #001319;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
